/* #nav-tabs {
  margin: 0 auto;
} */

.main-nav {
  text-decoration: none;
  list-style-type: none;
  display: flex;
    }
.main-nav li a{
  padding: 2px;
  /* margin: 10px; */
}

@media only screen and (max-width: 800px) {
  .main-nav li a{
    /* margin: 10%; */
    padding: 7px;
  }
}
